@import "../utils/variables";

.bg-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  .modal-form {
    background: $bg-color-secondary;
    margin: 1% auto;
    padding: 2em;
    border-radius: 5px;
    max-width: 500px;
    .title {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 50px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
      #modal-close {
        height: 32px;
        &:focus {
          outline: none;
          border: 3px solid #D51010;
          border-radius: 5px;
          padding: 2px;
        }
      }
      .close {
        display: inline-flex;
        position: relative;
        width: 32px;
        height: 32px;
        cursor: pointer;
        fill: white;
      }
    }

    .form-fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      label {
        color: $color-secondary;
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
      }
      input {
        border-radius: 5px;
        font-size: 30px;
        &:focus {
          outline: none;
          border: 3px solid #D51010;
          border-radius: 5px;
          padding: 2px;
        }
      }
      textarea {
        border-radius: 5px;
        height: 5em;
        font-size: 30px;
        &:focus {
          outline: none;
          border: 3px solid #D51010;
          border-radius: 5px;
          padding: 2px;
        }
      }
    }
    .form-submit {
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }
}


