@import "../utils/variables";

.bg-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  .modal-form {
    background: $bg-color-secondary;
    margin: 1% auto;
    padding: 2em;
    border-radius: 5px;
    max-width: 500px;
    h2 {
      font-size: 50px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
    .close {
      position: absolute;
      top: 3%;
      right: 28%;
      width: 32px;
      height: 32px;
      opacity: 1;
      cursor: pointer;
      transform: scale(0.7);
    }
    .close:before,
    .close:after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 3px;
      background-color: #fff;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    .form-fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      label {
        color: $color-secondary;
        font-size: 36px;
        font-weight: 400;
      }
      input {
        border-radius: 5px;
        font-size: 40px;
      }
      textarea {
        border-radius: 5px;
        height: 5em;
        font-size: 40px;
      }
    }
    .form-submit{
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }
}


