@import "../utils/variables";
@import "../utils/mixins";

.main-photographers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  animation: fadein 2s;
  @include media-queries(tablette) {
    margin: auto;
    display: block;
    padding: 3rem;
  }
  @include media-queries(mobile) {
    margin: 3rem auto auto auto;
    display: flex;
    flex-wrap: wrap;

  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 2px;
    &:focus {
      outline: none;
      border: 3px solid #D51010;
      border-radius: 5px;
      padding: 2px;
    }
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 14em;
      height: 14em;
    }
    h2 {
      font-weight: 400;
      color: $color-primary;
      font-size: 2.25em;
      margin-bottom: 0;
      margin-top: 0.5em;
      @include media-queries(tablette) {
        white-space: nowrap;
      }
      @include media-queries(mobile) {
        white-space: nowrap;
        margin-right: 1em;
        margin-left: 1em;
      }
      @include media-queries(mobile-sm) {
        white-space: normal;
        padding-left: 30px;
      }
    }
  }
  p {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0.5em;
    .main-location {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2em;
      color: $color-tertiary;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    .main-tagline {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    .main-price {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 0.80em;
      color: #757575;
      margin-bottom: 0.5em;
    }
  }
  ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    padding: 0;
    @include media-queries(mobile-sm) {
      flex-wrap: wrap;
      align-items: center;
      margin: auto;
    }
  }
}

#main-photographer-description {
  margin: 5%;
  background: $bg-color-tertiary;
  @media screen and (max-width: 1150px){
    display: flex;
    width: auto;
    background: none;
    margin: 2em;
    justify-content: center;
  }
  @media screen and (max-width: 480px){
    display: block;
  }
  .main-photographer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    @media screen and (max-width: 480px){
      padding: 0;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 14em;
        height: 14em;
        @media screen and (max-width: 700px){
          width: 200px;
          height: 200px;
          margin-left: 20px;
        }
        @media screen and (max-width: 550px){
          width: 150px;
          height: 150px;
          margin-left: 10px;
        }
        @media screen and (max-width: 440px){
          width: 100px;
          height: 100px;
          margin-left: 10px;
        }
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      p {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0.5em;
        h2 {
          text-align: left;
          font-weight: 400;
          color: $color-primary;
          font-size: 4em;
          margin-bottom: 0;
          margin-top: 0;
          @media screen and (max-width: 700px){
            font-size: 2em;
          }
          @media screen and (max-width: 550px){
            font-size: 1.5em;
          }
          @media screen and (max-width: 440px){
            font-size: 1.25em;
          }
        }
        .main-location {
          text-align: left;
          font-weight: 400;
          font-style: normal;
          font-size: 1.2em;
          color: $color-tertiary;
          margin-top: 0.25em;
          margin-bottom: 0.25em;
          @media screen and (max-width: 700px){
            font-size: 1em;
          }
          @media screen and (max-width: 550px){
            font-size: 0.8em;
          }
          @media screen and (max-width: 440px){
            font-size: 0.6em;
          }
        }
        .main-tagline {
          text-align: left;
          font-weight: 400;
          font-style: normal;
          font-size: 1em;
          margin-bottom: 0.5em;
          @media screen and (max-width: 700px){
            font-size: 1em;
          }
          @media screen and (max-width: 550px){
            font-size: 0.8em;
          }
          @media screen and (max-width: 440px){
            font-size: 0.6em;
          }
        }
        .main-price {
          text-align: left;
          font-weight: 400;
          font-style: normal;
          font-size: 0.80em;
          color: #757575;
          margin-bottom: 0.5em;
          @media screen and (max-width: 700px){
            font-size: 1em;
          }
          @media screen and (max-width: 550px){
            font-size: 0.8em;
          }
          @media screen and (max-width: 440px){
            font-size: 0.6em;
          }
        }
      }
      .tag-container {
        margin-top: 0;
        list-style: none;
        display: flex;
        padding: 0;
        @media screen and (max-width: 1150px){
          flex-wrap: wrap;
          margin-top: 5px;
        }
      }
      #contact {
        background: $bg-color-primary;
        width: 170px;
        height: 69px;
        color: $bg-color-tertiary;
        font-size: 20px;
        font-weight: 400;
        border: none;
        border-radius: 5px;
        float: left;
        margin-left: 4em;
        margin-top: 0.5em;
        cursor: pointer;
        &:focus {
          outline: none;
          border: 3px solid #D51010;
          padding: 3px;
          border-radius: 5px;
        }
        @media screen and (max-width: 1150px) {
          display: none;
        }
      }
    }
  }
  #responsive-contact {
    display: none;
    @media screen and (max-width: 1150px){
      display: flex;
      position: fixed;
      top: 90%;
      z-index: 2;
      width: 150px;
      padding: 5px;
      text-align: center;
    }
  }
  }



