@import "../utils/variables";
@import "../utils/mixins";

.main-photographers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  @include media-queries(mobile) {
    margin: auto;
    display: block;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 14em;
      height: 14em;
    }
    h2 {
      font-weight: 400;
      color: $color-primary;
      font-size: 2.25em;
      margin-bottom: 0;
      margin-top: 0.5em;
      @include media-queries(mobile) {
        flex-wrap: nowrap;
        display: inline;
      }
    }
  }
  p {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0.5em;
    .main-location {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2em;
      color: $color-tertiary;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    .main-tagline {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 1em;
      margin-bottom: 0.5em;
    }
    .main-price {
      text-align: center;
      font-weight: 400;
      font-style: normal;
      font-size: 0.80em;
      color: #757575;
      margin-bottom: 0.5em;
    }
  }
  ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    padding: 0;
  }
}

.main-photographer-description {
    margin: 5%;
    background: $bg-color-tertiary;
    padding: 2em;
    .main-photographer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 14em;
          height: 14em;
        }
      }
      .container {
        display: flex;
        flex-direction: row;
        p {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          margin-bottom: 0.5em;
          h2 {
            text-align: left;
            font-weight: 400;
            color: $color-primary;
            font-size: 4em;
            margin-bottom: 0;
            margin-top: 0;
          }
          .main-location {
            text-align: left;
            font-weight: 400;
            font-style: normal;
            font-size: 1.2em;
            color: $color-tertiary;
            margin-top: 0.25em;
            margin-bottom: 0.25em;
          }
          .main-tagline {
            text-align: left;
            font-weight: 400;
            font-style: normal;
            font-size: 1em;
            margin-bottom: 0.5em;
          }
          .main-price {
            text-align: left;
            font-weight: 400;
            font-style: normal;
            font-size: 0.80em;
            color: #757575;
            margin-bottom: 0.5em;
          }
        }
        ul {
          margin-top: 0;
          list-style: none;
          display: flex;
          padding: 0;
        }
        button {
          background: $bg-color-primary;
          width: 170px;
          height: 69px;
          color: $bg-color-tertiary;
          font-size: 20px;
          font-weight: 400;
          border: none;
          border-radius: 5px;
          float: left;
          margin-left: 1em;
          margin-top: 0.5em;
          cursor: pointer;
        }
      }
    }
  }



