@import "../utils/variables";

@mixin media-queries ($device) {
  @media all and (min-width: map-get($breakpoints-min, $device)) and (max-width: map-get($breakpoints-max, $device)) {
    @content;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(0px);
    display: flex;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    display: none;
  }
}
@-moz-keyframes fadeout { /* sur Firefox */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes fadeout { /* sur Safari et Chrome */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes fadeout { /* sur Opera */
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
