$color-primary:#D3573C;
$color-secondary:#525252;
$color-tertiary:#901C1C;

$bg-color-primary: #901C1C;
$bg-color-secondary: #DB8876;
$bg-color-tertiary: #FAFAFA;

$breakpoints-min: (desktop: 1400px, tablette:600px,mobile: 250px, mobile-sm: 250px);
$breakpoints-max: (desktop: 2200px, tablette:1399px, mobile: 599px, mobile-sm:370px);
