@import "../utils/variables";
@import "../utils/mixins";

.header-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include media-queries(tablette) {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
  }
  @include media-queries(mobile) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: normal;
  }
  @include media-queries(mobile-sm) {
    justify-content: center;
    flex-direction: column;
  }
  .header-content-button {
    text-decoration: none;
    @include media-queries(tablette) {
      margin-top: 3rem;
    }
    @include media-queries(mobile) {
      margin-top: 2rem;
      svg {
        width: 150px;
      }
    }
  }
  nav {
    @include media-queries(mobile) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      display: flex;
      text-align: center;
      margin: auto;
      padding: 1rem;
      @include media-queries(tablette) {
        flex-wrap: wrap;
        align-items: center;
      }
      @include media-queries(mobile) {
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
      }
      @include media-queries(mobile-sm) {
        flex-direction: column;
        justify-content: center;
      }
      li {
        text-align: center;
        margin: auto;
        @include media-queries(mobile-sm) {
          margin: 5px auto 5px auto;
        }
      }
    }
  }
  h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 2.25em;
    color: $color-tertiary;
    @include media-queries(mobile) {
      position: absolute;
      margin-top: 0;
      left: 52%;
      font-size: 20px;
      top: 3.2rem;
    }
    @include media-queries(mobile-sm) {
      top: 6rem;
      left: 20%;
    }
  }
}

.header-phographer {
  margin-left: 5%;
  margin-top: 2.5%;
}
